<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Address Book</title>
  </head>
  <body>
    <div class="container">

        <h1>Address Book</h1>
        <form action="/addressbook" method="post" id="addressbook">
          <div class="form-group">
            <label for="name">Enter name:</label>
            <input id="name" name="name" type="text" required>

          </div>
          <label for="email">enter email:</label>
          <input for="email" name="email" type="num" required>
          <button type="submit">Submit</button>
        </form>
        <h1> Here's the list of contacs</h1>


    <form action="reset" method="post">
      <button class="bg-danger">Delete all contacts</button>
    </form>


  </body>
</html>
